<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BackEnd Development</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 p-10">
        <h3 class="text-white text-center mb-2">Login Your Account</h3>
        <form class="text-center" method="post" action="/login">
            <input class=" px-3 py-2 mb-2 rounded-md bg-transparent text-white bg-zinc-800 outline-none" type="mail" name="email" placeholder="gmail"><br>
            <input class="px-3 py-2 mb-2 rounded-md bg-transparent text-white bg-zinc-800 outline-none" type="password" name="password" placeholder="password"><br>
            <input class="px-3 py-2 mb-2 rounded-md bg-transparent text-blue-400 bg-yellow-400 outline-none" type="submit" value="Login">
        </form>
    </div>
</body>
</html>
